[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fscontext"]
	path = fscontext
	url = https://github.com/dataobservatory-eu/fscontext
[submodule "retroharmonize"]
	path = retroharmonize
	url = https://github.com/dataobservatory-eu/retroharmonize
